<section>
  <h1 class="text-center py-3">Lista de Juegos</h1>
  <div class="table-responsive">
    <div *ngIf="isLoading" class="text-center">
      <div class="spinner-border" role="status">
        <span class="visually-hidden"></span>
      </div>
    </div>
    <table class="table table-striped" *ngIf="!isLoading">
      <thead class="text-center">
        <tr>
          <th>Portada</th>
          <th>Nombre</th>
          <th class="d-none d-sm-table-cell">Tipo</th>
          <th class="d-none d-sm-table-cell">Plataforma</th>
          <th>Precio</th>
          <th>Stock</th>
          <th class="flex-sm-column align-items-sm-center">Cantidad</th>
          <th class="flex-sm-column align-items-sm-center">Compra</th>
        </tr>
      </thead>
      <tbody class="text-center">
        <tr
          *ngFor="let game of games"
          [ngClass]="{ clearance: game.clearance }"
        >
          <td>
            <img class="img-thumbnail" [src]="game.image" [alt]="game.name" />
          </td>
          <td>{{ game.name }}</td>
          <td class="d-none d-sm-table-cell">{{ game.type }}</td>
          <td class="d-none d-sm-table-cell">{{ game.platform }}</td>
          <td>{{ game.price | currency }}</td>
          <td *ngIf="game.stock == 0">
            <span class="badge badge-pill badge-danger">SIN STOCK</span>
          </td>
          <td *ngIf="game.stock > 0">
            <span class="badge badge-pill badge-success">EN STOCK</span>
          </td>
          <td class="flex-sm-column align-items-sm-center">
            <app-input-integer
              [(quantity)]="game.quantity"
              [max]="game.stock"
              *ngIf="game.stock"
              (maxReached)="maxReached($event)"
            ></app-input-integer>
          </td>
          <td class="flex-sm-column align-items-sm-center">
            <button class="btn btn-primary" (click)="addToCart(game)">
              Comprar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
